<!-- Start of Post -->
<article class="post">
  <!-- Start of Post Container-->
  <div class="container post-container">
    <!-- Start of Image Row-->
    <div class="row each-post-pic">
      <img class="col img-col" src= {{image_input}} alt="">
    </div>
    <!-- End of Image Row-->
    <!-- Start of Post Info Row-->
    <div class="row post-info">
      <!-- Title Column-->
      <div class="col title-date">
        <a class="title"href="{{image_input}}" target="_blank">{{title}}
        <p class="date">{{format_date created_at}}</p>
        </a>
      </div>
      <!-- Meta Info Column -->
      <div class="col meta">
        {{user.username}}  {{vote_count}} <button class=" "><i class="bi bi-arrow-up-square"></i></button> {{format_plural "Up Vote" vote_count}}
        <a class="comments-button" href="/post/{{id}}">{{comments.length}} {{format_plural "Comment" comments.length}} </a>
     </div>
  </div>
  <!-- End of Post Container-->
</article>
<!-- End of Post-->